#ignore pycache folders
./code/data_layer/__pycache__
./code/logic_layer/__pycache__
./code/models/__pycache__
./code/ui_la/__pycache__
./code/validation/__pycache__
./__pycache__
*/*.pyc
code/ui_layer/__pycache__/UIEmployees.cpython-37.pyc
code/validation/__pycache__/validator.cpython-37.pyc
